{% extends 'base.html' %}

{% block title %}Головна сторінка - Сайт подорожей{% endblock %}

{% block content %}
<div class="container">
  <h2>Популярні подорожі</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="{{ url_for('static', filename='images/karpaty.jpg') }}" alt="Карпати">
        <div class="card-body">
          <h5 class="card-title">Подорож до Карпат</h5>
          <p class="card-text">Відвідайте прекрасні гори Карпат та насолоджуйтесь чистим повітрям та красою природи.</p>
          <p class="card-text">Ціна: $200</p>
          <a href="#" class="btn btn-primary addToCart">Додати до корзини</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="{{ url_for('static', filename='images/odesa.jpg') }}" alt="Одеса">
        <div class="card-body">
          <h5 class="card-title">Відпочинок в Одесі</h5>
          <p class="card-text">Проведіть час на чудових пляжах Одеси та насолоджуйтесь морським бризом.</p>
          <p class="card-text">Ціна: $150</p>
          <a href="#" class="btn btn-primary addToCart">Додати до корзини</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="{{ url_for('static', filename='images/lviv.jpg') }}" alt="Львів">
        <div class="card-body">
          <h5 class="card-title">Відвідайте Львів</h5>
          <p class="card-text">Погляньте на старовинну архітектуру та насолоджуйтесь атмосферою давнього міста.</p>
          <p class="card-text">Ціна: $180</p>
          <a href="#" class="btn btn-primary addToCart">Додати до корзини</a>
        </div>
      </div>
    </div>
    <!-- Додайте інші подорожі за аналогічною структурою -->
  </div>
</div>


<!-- Кнопка "Корзина" -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cartModal">
  Корзина
</button>

<!-- Модальне вікно корзини -->
<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cartModalLabel">Корзина</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="cartItems">
        <h4>Ваші обрані подорожі:</h4>
        <!-- Сюди буде додаватися список обраних подорожей користувача -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
        <button type="button" class="btn btn-primary" id="payNow">Оплатити</button>
      </div>
    </div>
  </div>
</div>

<!-- Посилання на файли JavaScript Bootstrap та jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
  // Змінна для зберігання елементів корзини
  var cartItems = [];

  // Додавання подорожі до корзини
  $('.addToCart').click(function() {
    var itemName = $(this).closest('.card-body').find('.card-title').text();
    cartItems.push(itemName);
    updateCart();
  });

  // Видалення подорожі з корзини
  $('#cartItems').on('click', '.deleteItem', function() {
    var index = $(this).closest('li').index();
    cartItems.splice(index, 1);
    updateCart();
  });

  // Оновлення вмісту модального вікна корзини
  function updateCart() {
    $('#cartItems').empty();
    for (var i = 0; i < cartItems.length; i++) {
      $('#cartItems').append('<li>' + cartItems[i] + ' <button class="btn btn-danger deleteItem">Видалити</button></li>');
    }
  }

  // Функція для оплати товарів
  $('#payNow').click(function() {
    // Додайте ваш код для оплати товарів тут
    // Наприклад, перенаправлення на сторінку оплати або обробка оплати через платіжний шлю
    alert('Товари оплачено. Дякуємо!');
  });
</script>
{% endblock %}